@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .section-container {
        display:block;
    }
    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
        margin: 80px 15px;
    }
    


    .section__pic {
        width:475px;
        height: 475px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1850px) {

    #projects-container {
        height: fit-content;
        margin: 80px auto;
    }

    #projects .arrow {
        display: none;
    }

}


